{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}视频播放-"奇趣"知识共享{% endblock %}
{% block link_css %}
   <link rel="stylesheet" href="{% static 'css/hivideo.css' %}/" />
    <style type="text/css">
        .main-wrap{
            margin: 0 auto;
            min-width: 400px;
            max-width: 880px;
        }
        .main-wrap video{
            width: 100%;
        }
    </style>
{% endblock %}

{% block content_bread %}
<section>
	    <div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="/">首页></a></li>
                <li><a href="{% url 'video:video_list' video.get_category_display %}">
                    {% if video.get_category_display == '1' %}    美味厨艺
                    {% elif video.get_category_display == '2' %}  生活技巧
                    {% elif video.get_category_display == '3' %}  强身健体

                {% endif %}</a>></li>
				<li><a href="javascript:history.back(-1)">视频详情></a></li>
				<li>{{ video.name }}</li>

			</ul>
		</div>
	</div>
    </section>
{% endblock %}
{% block content %}

    <div class="main-wrap">
        <video ishivideo="true" autoplay="true" isrotate="false" autoHide="true">
            <source src="{{MEDIA_URL }}{{ video.video }}" type="video/mp4" />
            <source src="{{MEDIA_URL }}{{ video.video }}" type="video/ogg" />
            <source src="{{MEDIA_URL }}{{ video.video }}" type="video/webm" />

            <object data="{{MEDIA_URL }}{{ video.video }}" >
            <embed src="{{MEDIA_URL }}{{ video.video }}"  />
            </object>
        </video>
    </div>
{% endblock %}
{#<html lang="en">#}
{#<head>#}
{#    <title>"奇趣"知识共享</title>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{##}
{#    <script type="text/javascript" src="{% static 'js/hivideo.js' %}"></script>#}
{#    <style type="text/css">#}
{#        .main-wrap{#}
{#            margin: 0 auto;#}
{#            min-width: 320px;#}
{#            max-width: 640px;#}
{#        }#}
{#        .main-wrap video{#}
{#            width: 100%;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#    #}
{#</body>#}
{#</html>#}